* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: monospace;
}
body {
  width: 600px;
  margin: 0 auto;
  font-size: 16px;
}
body img {
  max-width: 100%;
}
body p {
  line-height: 22px;
}
body li + li {
  margin-top: 16px;
}
body pre {
  background: #ccc;
}
